*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    padding:30px;

    background:
    linear-gradient(
        135deg,
        #6d28d9,
        #2563eb
    );

    color:white;
}

h1{
    text-align:center;
    margin-bottom:25px;
}

input,
select,
button{
    padding:12px;
    border:none;
    border-radius:12px;
}

input,
select{
    width:auto;
}

button{
    background:white;
    color:#4f46e5;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    transform:scale(1.03);
}

#searchInput{
    width:100%;
    margin-top:15px;
}

.stats{
    display:grid;

    grid-template-columns:
    repeat(
        auto-fit,
        minmax(180px,1fr)
    );

    gap:15px;

    margin:25px 0;
}

.card,
.goal-section,
.achievements,
.pomodoro,
.quote{

    background:
    rgba(
        255,
        255,
        255,
        0.12
    );

    backdrop-filter:
    blur(15px);

    border:
    1px solid
    rgba(
        255,
        255,
        255,
        0.2
    );

    padding:20px;

    border-radius:20px;
}

.card{
    text-align:center;
}

.card h3{
    font-size:2rem;
    margin-bottom:8px;
}

.progress-container{
    margin:20px 0;
}

.progress-text{
    margin-bottom:10px;
}

.progress-bar{
    height:14px;

    background:
    rgba(
        255,
        255,
        255,
        0.2
    );

    border-radius:20px;

    overflow:hidden;
}

.progress-fill{

    width:0%;

    height:100%;

    background:
    linear-gradient(
        90deg,
        #22c55e,
        #38bdf8
    );

    transition:
    width .7s ease;
}

#taskList{
    list-style:none;
    margin-top:20px;
}

#taskList li{

    background:
    rgba(
        255,
        255,
        255,
        0.12
    );

    backdrop-filter:
    blur(15px);

    border:
    1px solid
    rgba(
        255,
        255,
        255,
        0.2
    );

    padding:15px;

    border-radius:15px;

    margin-bottom:12px;

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.completed{
    text-decoration:line-through;
    opacity:0.6;
}

.goal-section{
    margin:20px 0;
}

.goal-section p{
    margin-top:10px;
}

.badge{

    display:inline-block;

    background:#22c55e;

    color:white;

    padding:8px 12px;

    border-radius:20px;

    margin:5px;
}

#timer{
    font-size:3rem;
    text-align:center;
    margin:15px 0;
}

.quote{
    text-align:center;
    margin-top:20px;
    font-style:italic;
}

@media(max-width:768px){

    body{
        padding:15px;
    }

    input,
    select,
    button{
        width:100%;
        margin-top:10px;
    }

    #taskList li{
        flex-direction:column;
        gap:10px;
        align-items:flex-start;
    }
}