body{
    font-family:Arial;
    padding:20px;
}

li{
    margin:10px 0;
}

button{
    margin-left:10px;
}

.completed{
    text-decoration:line-through;
    color:gray;
}

.stats{
    display:flex;
    gap:15px;
    margin:20px 0;
}

.card{
    border:1px solid #ddd;
    padding:15px;
    border-radius:10px;
    text-align:center;
    min-width:120px;
}

.card h3{
    margin-bottom:5px;
}

.progress-container{
    margin:20px 0;
}

.progress-text{
    margin-bottom:10px;
}

.progress-bar{
    width:100%;
    height:15px;
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
}

.progress-fill{
    width:0%;
    height:100%;
    background:#4CAF50;
    transition:0.5s;
}